VITE_BACKEND_URL=https://devapi.scalr.trade
VITE_AMPLITUDE_API_KEY=aaa777aaa7a7a7a7a7a7a77a7a
VITE_APP_BASE_LINK=https://t.me/test_bot/test
VITE_SENTRY_DSN=https://user@password.sentry.io/projectId
VITE_ANALYTICS_KEY=G-AAAAAAAAA
VITE_ADSGRAM_BLOCK_ID=0000
VITE_SPOT_AD_KEY=spot-123

# Private variables
SENTRY_URL="https://sentry.io"
SENTRY_AUTH_TOKEN='123'
