:root {
  --rsbs-backdrop-bg: rgba(0, 0, 0, 0.4);
  --rsbs-bg: var(--secondary);
  --rsbs-handle-bg: white;
  --rsbs-max-w: auto;
  --rsbs-ml: env(safe-area-inset-left);
  --rsbs-mr: env(safe-area-inset-right);
  --rsbs-overlay-rounded: 2rem;
}

reach-portal {
  z-index: 100;
}
tc-root {
  z-index: 101;
}

[data-rsbs-backdrop] {
  backdrop-filter: blur(0.1rem);
}

[data-rsbs-header] {
  padding-bottom: 0 !important;
}
[data-rsbs-footer] {
  padding-top: 4px !important;
}

.react-modal-sheet-backdrop {
  /* custom styles */
}
.react-modal-sheet-container {
  background-color: var(--secondary) !important;
  overflow-x: clip;
}
.react-modal-sheet-header {
  /* custom styles */
}
.react-modal-sheet-drag-indicator {
  /* custom styles */
}
.react-modal-sheet-content {
  /* custom styles */
}
