@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SF Pro Rounded';
  src: url(/fonts/SfProRounded.woff2) format('woff2-variations');
  src: url(/fonts/SfProRounded.woff2) format('woff2') tech('variations');
  font-weight: 100 1000;
  font-stretch: 25% 151%;
  font-display: swap;
  /* Latin only */
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC,
    U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'SF Pro';
  src: url(/fonts/SfProSub.woff2) format('woff2-variations');
  src: url(/fonts/SfProSub.woff2) format('woff2') tech('variations');
  font-weight: 100 1000;
  font-stretch: 25% 151%;
  font-display: swap;
  /* Latin only */
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC,
    U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

:root {
  --accent: #4374ec;
  --accent-hover: #6d9efc;
  --selection: #6d9efc4d;

  --primary: #0e121b;
  --secondary: #171d26;
  --controls-tertiary: #2e3442;
  --success: #23cfb2;
  --error: #f3617d;

  --safe-area-bottom: 1.2rem;

  --toastify-color-success: var(--success);
  --toastify-color-error: var(--error);
}

* {
  scroll-behavior: smooth !important;
  scrollbar-color: transparent !important;
  scrollbar-width: none !important;
  -ms-overflow-style: none !important;
  overflow: -moz-scrollbars-none !important;
}
::-webkit-scrollbar {
  display: none !important;
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
  width: 0 !important;
  background: none !important;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background-color: var(--selection);
}
::moz-selection {
  background-color: var(--selection);
}
.bg-special-gradient {
  background: linear-gradient(to right, #3af3ff, #4986fb, #8160e1);
}

.bg-border-gradient {
  background:
    linear-gradient(var(--primary), var(--primary)) padding-box,
    linear-gradient(to right, #3af3ff, #4986fb, #8160e1) border-box;
  border: 1.5px solid transparent;
}

.dots-loader::before {
  animation: dots 1s linear infinite;
  content: '.';
}

@keyframes dots {
  0%,
  30% {
    content: '.';
  }
  60% {
    content: '..';
  }
  90% {
    content: '...';
  }
}

.outlined-text-accent {
  -webkit-text-stroke: 2px var(--accent-hover);
  -webkit-text-fill-color: transparent;
}

/* fixes toast centering on windows */
.Toastify__toast-container--bottom-center {
  left: 0% !important;
  transform: none !important;
}

/* Those are removed by postCSS preprocessor, so we add them manually */
.w-8 {
  width: 2rem;
}
.h-8 {
  height: 2rem;
}
