@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SF Pro Rounded';
  src: url(/fonts/SfProRounded.woff2) format('woff2-variations');
  src: url(/fonts/SfProRounded.woff2) format('woff2') tech('variations');
  font-weight: 100 1000;
  font-stretch: 25% 151%;
  font-display: swap;
  /* Latin only */
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC,
    U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

:root {
  --accent: #4374ec;
  --accent-hover: #6d9efc;
  --selection: #6d9efc;

  --primary: #0e121b;
  --secondary: #171d26;
  --controls-tertiary: #2e3442;
  --success: #23cfb2;
  --error: #f3617d;

  --safe-area-bottom: 1.25rem;
  --footer-height: calc(var(--safe-area-bottom) * 4);

  --toastify-color-success: var(--success);
  --toastify-color-error: var(--error);
}

* {
  scroll-behavior: smooth !important;
  scrollbar-color: transparent !important;
  scrollbar-width: none !important;
}

html {
  overflow: hidden;
  user-select: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background-color: var(--selection);
}
::moz-selection {
  background-color: var(--selection);
}

::-webkit-scrollbar {
  display: none !important;
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
  width: 0 !important;
  background: none !important;
}

.bg-special-gradient {
  background: linear-gradient(to right, #3af3ff, #4986fb, #8160e1);
}

.bg-border-gradient {
  background:
    linear-gradient(var(--primary), var(--primary)) padding-box,
    linear-gradient(to right, #3af3ff, #4986fb, #8160e1) border-box;
  border: 1.5px solid transparent;
}

.dots-loader::before {
  animation: dots 1s linear infinite;
  content: '.';
}

@keyframes dots {
  0%,
  30% {
    content: '.';
  }
  60% {
    content: '..';
  }
  90% {
    content: '...';
  }
}

.outlined-text-accent {
  -webkit-text-stroke: 2px var(--accent-hover);
  -webkit-text-fill-color: transparent;
}

.silver-outline {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff70;
}

.silver-outline::before {
  content: '';
  display: block;
  background: linear-gradient(
    90deg,
    transparent 0%,
    #ffffff 50%,
    transparent 100%
  );
  height: 300%;
  width: 50%;
  position: absolute;
  z-index: 0;
  top: 50%;
  transform-origin: top center;
  animation: spin 1.5s linear infinite;
}

/* fixes toast centering on windows */
.Toastify__toast-body {
  margin: 0 !important;
}

.Toastify__toast-container--top-center {
  top: 0 !important;
  left: 0 !important;
  transform: none !important;
}

.half-tone-overlay::before {
  content: '';
  background-color: transparent;
  background-image: radial-gradient(transparent 1px, var(--secondary) 1px);
  background-size: 4px 4px;
  backdrop-filter: brightness(100%) blur(3px);

  position: absolute;

  overflow: hidden;
  width: 9rem;
  height: 9rem;
}

/* Those are removed by postCSS preprocessor, so we add them manually */
.w-8 {
  width: 2rem;
}
.h-8 {
  height: 2rem;
}
.h-screen {
  height: 100dvh !important;
}
